<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>GuoGe'Blog推荐
    </title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--For images carousel-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <!--For Portfolio-->
<script src="js/commonJs/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="js/commonJs/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/commonJs/jquery.quicksand.js"></script>
<script type="text/javascript" src="js/commonJs/setting.js"></script>
    <!--For Menu-->
<script type='text/javascript' src='js/commonJs/superfish3d36.js?ver=3.3.1'></script>
<script type='text/javascript' src='js/commonJs/jquery.custom5152.js?ver=1.0'></script>
<script type="text/javascript" src="js/commonJs/jquery.easing.1.3.js"></script>
    <!--For prettyPhoto-->
    <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet"  />
<script src="js/commonJs/jquery.prettyPhoto.js" type="text/javascript" ></script>
    <link rel="stylesheet" href="css/jquery.pagination.css" type="text/css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/commonJs/jquery.pagination.min.js"></script>
    <script src="js/volunteerJs/myGroupList.js"></script>
    <script src="js/volunteerJs/groupVolunteer.js"></script>
  </head>
  <body>
    <!-- Header Start-->
    <div class="header-wrapper1">
      <div id="header">
        <a href="index.html" id="logo">
          <img src="images/logo7.png" alt="" /></a>
        </a>
        <a href="index.html" id="logo2">
          <span>志愿者工作站
          </span>
        </a>
        <!-- Top Menu Start-->
        <div id="primary-nav">
          <!-- END #primary-nav -->
        </div>
      </div>  
      <div class="title">
        <span>团队管理
        </span>
      </div>
    </div>
    <!-- Middle Part Start-->
    <div id="middle-wrapper">  
      <!-- Left Section Start-->  
      <div class="portleft">    <h3>菜单列表</h3>
        <ul class="caidan">
          <li>
            <span>&rarr;
            </span>
            <a th:href="@{/groupVolunteers.html(groupId=${membersVO.groupId})}" style="color: #729700">团队成员</a>
          </li>
          <li>
          <span>&rarr;
          </span>
            <a th:href="@{/myActivityList.html(groupId=${membersVO.groupId})}" >团队项目</a>
          </li>
          <li>
          <span>&rarr;
          </span>
            <a th:href="@{/applyList.html(groupId=${membersVO.groupId})}" >入队申请</a>
          </li>
          <li>
          <span>&rarr;
          </span>
            <a th:href="@{/updateGroup.html(groupId=${membersVO.groupId})}">团队修改</a>
          </li>
        </ul>
      </div>  
      <!-- Right Section Start-->  
      <div class="portright" th:switch="${membersVO.role}">    <h3>团队成员
        <input type="text" id="select" style="width: 120px;height: 8px;margin-left: 20px;font-size: 12px" placeholder="请输入用户名">
        <select style="margin-left: 15px;width: 100px" id="role">
          <option value="">请选择角色</option>
          <option value="3">创建者</option>
          <option value="2">管理员</option>
          <option value="1">普通成员</option>
        </select>
        <input type="button" value="搜索" style="margin-left: 15px;width: 50px;" onclick="getCountByParam()">
        <a onclick="disband()" th:case="3" style="color: grey;font-size: 13px;float: right">解散团队</a>
        <a onclick="exitGroup()" th:case="2" style="color: grey;font-size: 13px;float: right">退出团队</a>
        <a onclick="exitGroup()" th:case="1" style="color: grey;font-size: 13px;float: right">退出团队</a>
        <input type="hidden" id="groupId" th:value="${membersVO.groupId}">
        <input type="hidden" id="count" th:value="${membersVO.count}">
        <input type="hidden" id="userRole" th:value="${membersVO.role}">
        <input type="hidden" id="userId" th:value="${membersVO.userId}">
        <input type="hidden" id="countSelected">
      </h3>
        <div>
        <table class="teamTable" id="groupMembers">
          <tr>
            <th>头像</th>
            <th style="width: 40px">姓名</th>
            <th style="width: 40px">性别</th>
            <th style="width: 40px">真实姓名</th>
            <th style="width: 90px">所在地</th>
            <th style="width: 60px">角色</th>
            <th>入队时间</th>
            <th>操作</th>
          </tr>
        </table>
        </div>
        <div class="box" style="float: right;margin-right: 10px;margin-top: 15px">
          <div id="pagination1" class="page fl"></div>
          <div class="info fl">
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Part Start-->
    <div style="display:none">
<script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
  </body>
</html>